* {
    margin: 0;
    padding: 0;
}

html,
body,
main {
    height: 100%;
}

.center-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

article {
    text-align: center;
}
